<div class = "home_page">
  <div class = "home_title">
    <h2>
      <span>最高の家系ラーメン</span>を見つけて<br>
      家系図鑑を作ろう
    </h2>
  </div>

  <div class="home_table_contaner">
    <div class = "home_table">
      <div class = "home_message">
        <%= image_tag "https://icooon-mono.com/i/icon_14142/icon_141421_64.png", class: "home_table_logo" %>家系を探す
      </div>
      <div>
        <%= link_to "→地名から探す", maps_path, class: "home_table_search_link" %>
      </div>
    </div>
  <% if user_signed_in? %>
    <div class = "home_table">
      <div class = "home_message">
        <%= image_tag "https://icooon-mono.com/i/icon_11122/icon_111221_64.png", class: "home_table_logo" %>家系を記録する
      </div>
      <div>
        <%= link_to "→お気に入り店舗登録", new_post_path, class: "home_table_link" %>
      </div>
    </div>
  <% else %>
    <div class = "home_table">
      <div class = "home_message">
        <%= image_tag "https://icooon-mono.com/i/icon_11122/icon_111221_64.png", class: "home_table_logo" %>家系を記録する
      </div>
      <div>
        <%= link_to "→ログイン", new_user_session_path, class: "home_table_link" %>
      </div>
      <div>
        <%= link_to "→麺バー登録", new_user_registration_path, class: "home_table_link" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
