<div class = "post_edit_page">
  <div class = "post_edit_title">
    <%= image_tag "https://icooon-mono.com/i/icon_12122/icon_121221_64.png", class: "post_edit_logo" %>
    <h2>店舗情報編集</h2>
  </div>

<%= form_with model: @post, local: true do |f| %>

  <ul class="post_edit_field">
    <li>
      <%= f.label :shop_name, "店舗名", class: "post_edit_label" %>
      <%= f.text_field :shop_name, placeholder: "店舗名", class: "post_edit_form" %>
    </li>
    <li>
      <%= f.label :address, "住所", class: "post_edit_label" %>
      <%= f.text_field :address, placeholder: "店舗住所", class: "post_edit_form" %>
    </li>
    <li>
      <%= f.label :visited_date, "来店日", class: "post_edit_label" %>
      <%= f.date_field :visited_date, placeholder: "年/月/日", class: "post_edit_form" %>
    </li>
    <li>
      <%= f.label :shop_score, "ポイント", class: "post_edit_label" %>
      <%= f.text_field :shop_score, placeholder: "100点満点", class: "post_edit_form" %>
    </li>
    <li class = "post_edit_memo_field">
      <%= f.label :shop_memo, "メモ", class: "post_edit_label" %>
      <%= f.text_area :shop_memo, placeholder: "ライス無料、かため濃いめ等", class: "post_edit_area" %>
    </li>
    <li class = "post_edit_file_field">
      <%= f.label :ramen_image, "ラーメン画像", class: "post_edit_label" %>
      <%= f.file_field :ramen_image, class: "post_edit_image" %>
    </li>
  </ul>

  <div class = "post_edit_actions">
    <%= f.submit "更新", class: "post_edit_button" %>
  </div>  
<% end %>

  <div class = "account_edit_actions">
    <%= link_to "お気に入り一覧へ戻る", posts_path, class: "posts_back_button" %>
  </div>
</div>
