<!DOCTYPE html>
<html>
  <head>
    <title>IekeiCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
    $(function() {
      const hum = $('#hamburger, .close')
      const nav = $('.header_sp_right_nav')
      hum.on('click', function(){
        nav.toggleClass('toggle');
      });
    });
    </script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-danger h-auto mw-100">
        <ul class="navbar-nav" id="header_left_nav">
          <li class="navbar-brand text-white">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_13739/icon_137391_64.png", class: "header_logo"), root_path %>
            <%= link_to "家系.com", root_path, class: "header_title" %>
          </li>
        </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto" id="header_right_nav">
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_11122/icon_111221_64.png", class: "header_menu_logo"), new_post_path %>
            <%= link_to "お気に入り店舗登録", new_post_path, class: "header_menu_link" %>
          </li>
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_15519/icon_155191_64.png", class: "header_menu_logo"), posts_path %>
            <%= link_to "お気に入り店舗一覧", posts_path, class: "header_menu_link" %>
          </li>
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_12122/icon_121221_64.png", class: "header_menu_logo"), edit_user_registration_path %>
            <%= link_to "アカウント情報編集", edit_user_registration_path, class: "header_menu_link" %>
          </li>
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_14679/icon_146791_64.png", class: "header_menu_logo"), destroy_user_session_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_menu_link" %>
          </li>
        </ul>
        <div class="header_sp_right_nav_container">
          <div id="hamburger">
            <span></span>
          </div>
          <nav class="header_sp_right_nav">
            <ul>
              <li>
                <a href="#">
                <%= link_to "お気に入り店舗登録", new_post_path, class: "header_menu_link" %>
                </a>
              </li>
              <li>
                <a href="#">
                <%= link_to "お気に入り店舗一覧", posts_path, class: "header_menu_link" %>
                </a>
              </li>
              <li>
                <a href="#">
                <%= link_to "アカウント情報編集", edit_user_registration_path, class: "header_menu_link" %>
                </a>
              </li>
              <li>
                <a href="#">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_menu_link" %>
                </a>
              </li>
              <li class="close"><span>閉じる</span></li>
            </ul>
          </nav>
        </div>
      <% else %>
        <ul class="navbar-nav ml-auto" id="header_right_nav">
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_14679/icon_146791_64.png", class: "header_menu_logo"), new_user_session_path %>
            <%= link_to "ログイン", new_user_session_path, class: "header_menu_link" %>
          </li>
          <li class="header_menu">
            <%= link_to image_tag("https://icooon-mono.com/i/icon_14440/icon_144401_64.png", class: "header_menu_logo"), new_user_registration_path %>
            <%= link_to "麺バー登録", new_user_registration_path, class: "header_menu_link" %>
          </li>
        </ul>
        <div class="header_sp_right_nav_container">
          <div id="hamburger">
            <span></span>
          </div>
          <nav class="header_sp_right_nav">
            <ul>
              <li>
                <a href="#">
                <%= link_to "ログイン", new_user_session_path, class: "header_menu_link" %>
                </a>
              </li>
              <li>
                <a href="#">
                <%= link_to "麺バー登録", new_user_registration_path, class: "header_menu_link" %>
                </a>
              </li>
              <li class="close"><span>閉じる</span></li>
            </ul>
          </nav>
        </div>
      <% end %>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-light bg-danger h-auto mw-100">
        <ul class="navbar-nav" id="footer_nav">
          <li class="navbar-brand text-dark">© 2022 家系.com</li>
          <li class="navbar-brand text-dark"><%= link_to "利用規約", attensions_terms_path, class: "footer_nav_list" %></li>
          <li class="navbar-brand text-dark"><%= link_to "プライバシーポリシー", attensions_privacy_policy_path, class: "footer_nav_list" %></li>
          <li class="navbar-brand text-dark"><%= link_to "お問合せ先", "https://twitter.com/THdayo2", class: "footer_nav_list" %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
